/* =================================
   TABLET
================================= */

@media (max-width: 992px) {

  :root {
    --font-5xl: 3rem;
    --font-6xl: 4rem;
  }

}


/* =================================
   MOBILE
================================= */

@media (max-width: 768px) {

  :root {
    --font-4xl: 2rem;
    --font-5xl: 2.5rem;
    --font-6xl: 3rem;
  }

}


/* =================================
   SMALL MOBILE
================================= */

@media (max-width: 480px) {

  :root {
    --font-3xl: 1.75rem;
    --font-4xl: 1.9rem;
  }

  .btn {
    width: 100%;
  }

}